.App {
  text-align: center;
  background-color: #757575;
}


.Footer {
  background-color: #616161;
}


.page-header {
  color: #DCE775;
  background-color: #757575; 
}

.Canvas {
  text-align: center;
}